      @import url('vars.css') ;

      body {
      font-family: var(--ff-body);
      }

      h1 {
        font-family: var(--ff-heading);
      }

      .container {
        width: 50%;
        margin: 0 auto;
        border-radius: 1rem;
        padding: 2rem;
        background-color: var(--c-bg);
        color: var(--c-text);
      }

      .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      .label-lg {
        font-size: 2rem;
      }

      .input-lg {
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid var(--c-text);
        margin-right: 2rem;
      }

      .message-area {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        font-size: 2rem;
      }

      .message {
        height: 16rem;
        border-radius: 0.25rem;
        padding: 1rem;
      }

      .button-bar {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 2rem;
      }

      .btn-dark {
        width: 100%;
        border-radius: 0.5rem;
        padding:1rem;
        background-color: var(--c-bg-btn);
        color: var(--c-btn-text);
        border: 1px solid var(--c-text);

      }

      .btn-dark:hover {
        background-color: var(--c-bg-btn-hover);
      }